{% extends "base.html" %}
{% load static %}

{% block content %}

	<div id="calendar" style="height: 800px;"></div>

	<script src="{% static 'tui-calendar/tui-code-snippet.js' %}"></script>
	<script src="{% static 'tui-calendar/tui-calendar.js' %}"></script>
	<link rel="stylesheet" type="text/css" href="{% static 'tui-calendar/tui-calendar.css' %}"/>

	<link rel="stylesheet" type="text/css" href="{% static 'tui-calendar/tui-time-picker.css' %}"/>
	<script src="{% static 'tui-calendar/tui-time-picker.js' %}"></script>
	<link rel="stylesheet" type="text/css" href="{% static 'tui-calendar/tui-date-picker.css' %}"/>
	<script src="{% static 'tui-calendar/tui-date-picker.js' %}"></script>
	<!-- Custom scripts start -->

	<script type="text/javascript">
		var Calendar = tui.Calendar;
	</script>

	<script src="{% static 'scheduling/js/custom_calendar.js' %}"></script>

	<!-- Custom scripts end -->

{% endblock content %}