{% extends 'sacrament/side_bar.html' %} 
{% load static %} 
{% block header %} Baptism Application {% endblock%} 


{% block container%}

{{ ProfileModelForm.media }}

<form url="{% url 'sacrament:add-baptism-application' %}" method="POST" id="baptism_form">
    {% csrf_token %}
    {{ ProfileModelForm.as_p }}
    {{ BaptismModelForm.as_p }}
    <h3>Sponsors</h3>
    
    <form id="myForm" method="post" action="">
    <table border="0" cellpadding="0" cellspacing="0">
        <tbody>
            {% for form in SponsorFormset.forms %}
            <tr>
               <td>{{ form.first_name }}</td>
               <td>{{ form.middle_name }}</td>
               <td>{{ form.last_name }}</td>
               <td>{{ form.suffix }}</td>
               <td>{{ form.residence }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <!--<input type="button" value="Add More" id="add_more">--> 
    {{ field.errors }}
    <p>
    {{ SponsorFormset.management_form }}
    <input type="submit" value="Submit" />
    </p>
</form>

<script type="text/javascript">
        $(function() {
            $('#myForm table tbody tr').formset();
        })
</script>
{% endblock %}
<!-- 
<table>
    <tr>
        <th>First name </th>
        <th>
            <input name="first_name" type="text">
        </th>
    </tr>
    <tr>
        <th>Middle name </th>
        <th>
            <input name="middle_name" type="text">
        </th>
    </tr>
    <tr>
        <th>last name </th>
        <th>
            <input name="last_name" type="text">
        </th>
    </tr>
    <tr>
        <th>Suffix </th>
        <th>
            <input name="suffix" type="text">
        </th>
    </tr>
    <tr>
        <th>Birthdate </th>
        <th>
            <input type="date" name="birthdate" value="2017-06-01">
        </th>
    </tr>
    <tr>
        <th>Gender </th>
        <th>
                <input type="radio" name="gender" value=0> Male<br>
                <input type="radio" name="gender" value=1> Female<br>
        </th>
    </tr>
    <tr>
        <th>Birthplace </th>
        <th>
            <input name="birthplace" type="text">
        </th>
    </tr>
    <tr>
        <th>Residence </th>
        <th>
            <input name="residence" type="text">
        </th>
    </tr>
    <tr>
        <th>Minister </th>
        <th>
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Minister
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    {% for  m in ministers %}
                        <a class="dropdown-item" value='{{ m.id }}'> {{ m.first_name }} {{ m.middle_name }} {{ m.last_name }} {{ m.suffix }} </a>
                    {% endfor %}
                </div>
            </div>
        </th>
    </tr>
    <tr>
        <th>Legitimacy </th>
        <th>
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Legitimacy
                </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        {% for  m in ministers %}
                            <a class="dropdown-item" value='{{ m.id }}'> {{ m.first_name }} {{ m.middle_name }} {{ m.last_name }} {{ m.suffix }} </a>
                        {% endfor %}
                    </div>
            </div>
        </th>
    </tr>
   
</table>
<input type="submit" value="Create">
</form>
 -->

{% block js %}
{% endblock %}