{% extends 'sacrament/side_bar.html' %} 
{% load static %} 
{% block header %} Marriage Application {% endblock%} 


{% block container%}

<script type="text/javascript">

    $(function () {
        $('.add-row').click(function() {
    	    return addForm(this, 'form');
        });
        $('.delete-row').click(function() {
    	    return deleteForm(this, 'form');
        })
    })

</script>
{{ BrideModelForm.media }}
{{ MarriageModelForm.media }}

<form url="{% url 'sacrament:add-baptism-application' %}" method="POST">
    {% csrf_token %}
    <h1>Groom</h1>
    <br/>
    {{ GroomModelForm.as_p }}
    <h1>Bride</h1>
    <br/>
    {{ BrideModelForm.as_p }}
    {{ MarriageModelForm.as_p }}

    <table id="id_forms_table" border="0" cellpadding="0" cellspacing="5">
        <thead>
    	    <tr>
    	        <th scope="col">&nbsp;</th>
    	        <th scope="col">Sponsors</th>
    	        <th scope="col">&nbsp;</th>
    	        <th scope="col">&nbsp;</th>
    	    </tr>
        </thead>
        <tbody>
            {% for form in SponsorFormset.forms %}
    	    <tr id="{{ form.prefix }}-row" class="dynamic-form">
    	        <td{% if forloop.first %} class="hidden"{% endif %}>{{ form.operand }}</td>
    	        <td>{{ form.first_name }} {{ form.middle_name }} {{ form.last_name }} {{ form.suffix }} {{ form.residence }}</td>
    	        <td{% if forloop.first %} class="hidden"{% endif %}>
    	            <a id="remove-{{ form.prefix }}-row" href="javascript:void(0)" class="delete-row">delete</a>
    	        </td>
            </tr>
    	    {% endfor %}
            <tr>
    	        <td colspan="4"><a href="javascript:void(0)" class="add-row">ADD</a></td>
    	    </tr>
        </tbody>
    </table>
    {{ SponsorFormset.management_form }}

    {{ InvoiceModelForm_Application.as_p }}
    {{ InvoiceItemModelForm_Application.as_p }}

    {{ field.errors }}
    <input type="submit" value="Create">
</form>
{% endblock %}