{% extends 'sacrament/side_bar.html' %} 
{% load static %} 
{% block header %} Baptism Application {% endblock%} 
{% load crispy_forms_tags %}
{% load widget_tweaks %}

{% block container %}
    {{ ProfileModelForm.media }}
    <form url="{% url 'sacrament:add-baptism-application' %}" method="POST">
    {% csrf_token %}
    <!---->
    <button class="btn btn-primary application-button" type="button" data-toggle="collapse" data-target="#applicant-info" aria-expanded="false" aria-controls="applicant-info">
    Applicant
    </button>

    <div class="collapse show" id="applicant-info">
    <div class="card card-body">

    <div class="row mt-1">
        <div class="col-3">
            <label for="input-first-name">First name</label>
            {% render_field  ProfileModelForm.first_name autocomplete="off" class+="form-control form-control-sm" placeholder="First name" %}
        </div>
        <div class="col-3">
            <label for="input-middle-name">Middle name</label>
            {% render_field  ProfileModelForm.middle_name autocomplete="off" class+="form-control form-control-sm" placeholder="Middle name" %}
        </div>
        <div class="col-3">
            <label for="input-last-name">Last name</label>
            {% render_field  ProfileModelForm.last_name autocomplete="off" class+="form-control form-control-sm" placeholder="Last name" %}
        </div>
        <div class="col-3">
            <label for="input-last-name">Suffix</label>
            {% render_field  ProfileModelForm.suffix autocomplete="off" class+="form-control form-control-sm" placeholder="Suffix" %}
        </div>
    </div>
    
    <div class="row mt-1">
        <div class="col-3">
            <label for="input-first-name">Gender</label>
            {% render_field  ProfileModelForm.gender autocomplete="off" class+="form-control form-control-sm" placeholder="First name" %}
        </div>
        <div class="col-3">
            <label for="input-middle-name">Birthdate</label>
            {% render_field  ProfileModelForm.birthdate autocomplete="off" class+="form-control form-control-sm" placeholder="Birthdate" %}
        </div>
        <div class="col-3">
            <label for="input-last-name">Birth place</label>
            {% render_field  ProfileModelForm.birthplace autocomplete="off" class+="form-control form-control-sm" placeholder="Birth place" %}
        </div>
        <div class="col-3">
            <label for="input-last-name">Residence</label>
            {% render_field  ProfileModelForm.residence autocomplete="off" class+="form-control form-control-sm" placeholder="Residence" %}
        </div>
    </div>
    </div>
    </div>
    <hr/>
    <div class="row mt-1">
        <div class="col-3">
            <label for="input-middle-name">Legitimacy</label>
            {% render_field  BaptismModelForm.legitimacy autocomplete="off" class+="form-control form-control-sm" placeholder="Middle name" %}
        </div>
        <div class="col-3">
            <label for="input-first-name">Minister</label>
            <select class="form-control minister-dropdown" id="input-minister" name="baptism-minister">
            </select>
            {% comment %} {% render_field  BaptismModelForm.minister autocomplete="off" class+="form-control form-control-sm" placeholder="First name" %} {% endcomment %}
        </div>
    </div>
    <hr/>
    <button class="btn btn-primary application-button" type="button" data-toggle="collapse" data-target="#parent-info" aria-expanded="false" aria-controls="parent-info">
    Parents
    </button>
    <div class="collapse show" id="parent-info">
    <div class="card card-body">

    Father
    <hr/>
    <div class="row mt-1">
        <div class="col-3">
            <label for="input-first-name">First name</label>
            {% render_field  BaptismModelForm.father_first_name autocomplete="off" class+="form-control form-control-sm" placeholder="First name" %}
        </div>
        <div class="col-3">
            <label for="input-middle-name">Middle name</label>
            {% render_field  BaptismModelForm.father_middle_name autocomplete="off" class+="form-control form-control-sm" placeholder="Middle name" %}
        </div>
        <div class="col-3">
            <label for="input-last-name">Last name</label>
            {% render_field  BaptismModelForm.father_last_name autocomplete="off" class+="form-control form-control-sm" placeholder="Last name" %}
        </div>
        <div class="col-3">
            <label for="input-last-name">Suffix</label>
            {% render_field  BaptismModelForm.father_suffix autocomplete="off" class+="form-control form-control-sm" placeholder="Suffix" %}
        </div>
    </div>
    Mother
    <hr/>
    <div class="row mt-1">
        <div class="col-3">
            <label for="input-first-name">First name</label>
            {% render_field  BaptismModelForm.mother_first_name autocomplete="off" class+="form-control form-control-sm" placeholder="First name" %}
        </div>
        <div class="col-3">
            <label for="input-middle-name">Middle name</label>
            {% render_field  BaptismModelForm.mother_middle_name autocomplete="off" class+="form-control form-control-sm" placeholder="Middle name" %}
        </div>
        <div class="col-3">
            <label for="input-last-name">Last name</label>
            {% render_field  BaptismModelForm.mother_last_name autocomplete="off" class+="form-control form-control-sm" placeholder="Last name" %}
        </div>
        <div class="col-3">
            <label for="input-last-name">Suffix</label>
            {% render_field  BaptismModelForm.mother_suffix autocomplete="off" class+="form-control form-control-sm" placeholder="Suffix" %}
        </div>
    </div>
    </div>
    </div>

    <hr/>
    <button class="btn btn-primary application-button" type="button" data-toggle="collapse" data-target="#sponsor-info" aria-expanded="false" aria-controls="sponsor-info">
    Sponsors
    </button>
    <div class="collapse show" id="sponsor-info">
    <div class="card card-body">

    {% for form in SponsorFormset.forms %}
    <div class="dynamic-form row">
        <div class="col-3">
        <label for="input-first-name">First name</label>
            {% render_field  form.first_name autocomplete="off" class+="form-control form-control-sm" placeholder="First name" %}
        </div>
        <div class="col-3">
            <label for="input-middle-name">Middle name</label>
            {% render_field  form.middle_name autocomplete="off" class+="form-control form-control-sm" placeholder="Middle name" %}
        </div>
        <div class="col-3">
            <label for="input-last-name">Last name</label>
            {% render_field  form.last_name autocomplete="off" class+="form-control form-control-sm" placeholder="Last name" %}
        </div>
        <div class="col-3">
            <label for="input-last-name">Suffix</label>
            {% render_field  form.suffix autocomplete="off" class+="form-control form-control-sm" placeholder="Suffix" %}
        </div>
        <div class="col-3">
            <label for="input-last-name">Residence</label>
            {% render_field  form.residence autocomplete="off" class+="form-control form-control-sm" placeholder="Suffix" %}
        </div>
        <a id="remove-{{ form.prefix }}-row" href="javascript:void(0)" class="delete-row">delete</a>
    </div>
    {% endfor %}
        <a href="javascript:void(0)" class="add-row">ADD</a>
    	    
    {{ SponsorFormset.management_form }}
    </div>
    </div>
    <hr/>
    <div class="row mt-1">
        <div class="col-3">
            <label for="input-first-name">OR number</label>
            {% render_field  InvoiceModelForm_Application.or_number autocomplete="off" class+="form-control form-control-sm" placeholder="OR number" %}
        </div>
        <div class="col-3">
            <label for="input-middle-name">Recieved by</label>
            {% render_field  InvoiceModelForm_Application.received_by autocomplete="off" class+="form-control form-control-sm" placeholder="Recieved by" %}
        </div>
        <div class="col-3">
            <label for="input-last-name">Balance</label>
            {% render_field  InvoiceItemModelForm_Application.balance autocomplete="off" class+="form-control form-control-sm" placeholder="Balance" %}
        </div>
        <div class="col-3">
            <label for="input-last-name">Amount paid</label>
            {% render_field  InvoiceItemModelForm_Application.amount_paid autocomplete="off" class+="form-control form-control-sm" placeholder="Amount paid" %}
        </div>
    </div>
    <hr/>
    {% crispy Submit_Form %}
    </form>
{% endblock %}
{% block js %}
<script src="{% static 'js/sacrament/application.js' %}"></script>
{% endblock %}