{% extends 'sacrament/side_bar.html' %} 
{% load render_table from django_tables2 %}

{% load static %} 


{% block header %} Baptismal Records {% endblock %} 





{% block container %}
    {% block callback_function %}
        Call back function goes here.
    {% endblock callback_function %}

    <script src="{% static 'js/tables.js' %}"></script>
    <div class="records-toolbar" style="margin-bottom:10px;">
        <span style="">
            <button id='approve-btn' type="button" class="btn btn-sm btn-primary" data-toggle="modal" data-target="#approve-modal" onclick="{% block callback_approve %}{% endblock callback_approve %">
                <i class="fa fa-check-circle"></i> Approve
            </button>
            <button id='open-record-btn' type="button" class="btn btn-sm btn-secondary" data-toggle="modal" data-target="#record-modal" onclick="{% block callback_name %}{% endblock callback_name %}">
                <i class="fa fa-eye"></i> View
            </button>
            <button id='edit-btn' type="button" class="btn btn-sm btn-secondary" data-toggle="modal" data-target="#record-modal" onclick="{% block callback_name_edit %}{% endblock callback_name_edit %}">
                <i class="fa fa-edit"></i> Edit
            </button>
            {% block toolbars %}

            {% endblock %}
        </span>
    </div>
    

    {% block modal %}
    
    

<!-- Modal -->
    <div class="modal fade" id="record-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">{% block modal_title %}{% endblock %}</h5>
                    
                <button  type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                {% block modal_body %}
                    
                {% endblock modal_body %}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Edit</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal">Done</button>
            </div>
            </div>
        </div>
    </div>


    <div class="modal fade" id="approve-modal" tabindex="-1" role="dialog" aria-labelledby="approve-modal" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="approve-modal">Approve Record</h5>
                    
                <button  type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="approve-modal-body">
                {% block approve_modal_body %}
                    
                {% endblock approve_modal_body %}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal">Done</button>
            </div>
            </div>
        </div>
    </div>

    {% endblock modal %}
{% endblock %}
    
    {% block records %}
        Records container
    {% endblock records %}
    <script>
    if ( $('.records-table tbody').children().length === 0 ) {
         $('.records-table tbody').html(`
            <tr>
                <td class="empty-table text-center">
                    No records to show
                </td>
            </tr>
         `)
         $('.empty-table').attr("colspan", $(".records-table tr").children().length-1);
         $('.selected').removeClass("selected");
         $('.records-table').removeClass("selectable-table");
         $('.records-table').removeClass("table-hover");
    }
    </script>
{% endblock %}