{% extends 'sacrament/records_view.html' %} 
{% load render_table from django_tables2 %}

{% load static %} 


{% block header %} Baptismal Records {% endblock %} 


{% block records %}

    {% render_table table %}

{% endblock %}

{% block callback_function %}
    <script>
        var response_text = '';
        function loadBaptismRecords() {
        var data = JSON.parse(response_text);
        var baptism = data[0];
        var profile = data[1];
        var minister = data[2];
        console.log(baptism);
        $("#name").html(profile.fields.last_name+", "+profile.fields.first_name +" "+(profile.fields.middle_name ? profile.fields.middle_name : ""));
        $("#birthdate").html(profile.fields.birthdate)
        $("#minister").html(minister.fields.last_name+", "+minister.fields.first_name +" "+(minister.fields.middle_name ? minister.fields.middle_name : ""));
        $("#legitimacy").html(baptism.fields.legitimacy);
        $("#birthplace").html(profile.fields.birthplace);
        $("#gender").html(profile.fields.gender);
        }
    </script>
{% endblock %}

{% block callback_name %}
    sendAjax(loadBaptismRecords)
{% endblock %}


{% block modal_body %}

<div class="row">
    <div class="col-md-4">
        <p class="label">Name</p>
    </div>
    <div class="col-md-8">
        <p class="value" id="name">John Frederick</p>
    </div>
    <!---->
    <div class="col-md-4">
        <p class="label">Birthdate</p>
    </div>
    <div class="col-md-8">
        <p class="value" id="birthdate">John Frederick</p>
    </div>
    <!---->
    <div class="col-md-4">
        <p class="label">Minister</p>
    </div>
    <div class="col-md-8">
        <p class="value" id="minister">John Frederick</p>
    </div>
    <!---->
    <div class="col-md-4">
        <p class="label">Legitimacy</p>
    </div>
    <div class="col-md-8">
        <p class="value" id="legitimacy">Legitimacy</p>
    </div>
    <!---->
    <div class="col-md-4">
        <p class="label">Birthplace</p>
    </div>
    <div class="col-md-8">
        <p class="value" id="birthplace">John Frederick</p>
    </div>
    <!---->
    <div class="col-md-4">
        <p class="label">Gender</p>
    </div>
    <div class="col-md-8">
        <p class="value" id="gender">Gender</p>
    </div>
    <!---->
</div>
{% endblock %}

{% block modal_title %}
Baptismal Record
{% endblock %}