{% extends 'sacrament/records_view.html' %} 
{% load render_table from django_tables2 %}

{% load static %} 


{% block header %} Baptismal Records {% endblock %} 


{% block records %}

    {% render_table table %}

{% endblock %}

{% block callback_function %}
    <script>
        var response_text = '';
        function loadBaptismRecords() {
        var data = response_text;
        $("#name").html(data.name+(data.suffix ? data.suffix : ''));
        $("#birthdate").html(data.birthdate)
        $("#minister").html(data.minister);
        $("#legitimacy").html(data.legitimacy);
        $("#birthplace").html(data.birthplace);
        $("#gender").html(data.gender);
        }
    </script>
{% endblock %}

{% block callback_name %}
    sendAjax(loadBaptismRecords)
{% endblock %}


{% block modal_body %}

<div class="row">
    <div class="col-md-4">
        <p class="label">Name</p>
    </div>
    <div class="col-md-8">
        <p class="value" id="name">John Frederick</p>
    </div>
    <!---->
    <div class="col-md-4">
        <p class="label">Birthdate</p>
    </div>
    <div class="col-md-8">
        <p class="value" id="birthdate">John Frederick</p>
    </div>
    <!---->
    <div class="col-md-4">
        <p class="label">Minister</p>
    </div>
    <div class="col-md-8">
        <p class="value" id="minister">John Frederick</p>
    </div>
    <!---->
    <div class="col-md-4">
        <p class="label">Legitimacy</p>
    </div>
    <div class="col-md-8">
        <p class="value" id="legitimacy">Legitimacy</p>
    </div>
    <!---->
    <div class="col-md-4">
        <p class="label">Birthplace</p>
    </div>
    <div class="col-md-8">
        <p class="value" id="birthplace">John Frederick</p>
    </div>
    <!---->
    <div class="col-md-4">
        <p class="label">Gender</p>
    </div>
    <div class="col-md-8">
        <p class="value" id="gender">Gender</p>
    </div>
    <!---->
</div>
{% endblock %}

{% block modal_title %}
Baptismal Record
{% endblock %}