{% extends 'sacrament/side_bar.html' %} 
{% load static %} 
{% block header %} Item Type {% endblock%} 


{% block container%}
<form url="{% url 'finance:add-item-type' %}" method="POST">
    {% csrf_token %}
    {{ ItemTypeModelForm.as_p }}

    
    <input type="submit" value="Create">


    <table class="table table-hover selectable-table table-bordered records-table">
    <thead class="thead-default theading">
        <th>Item</th>
        <th>Suggested Price</th>
        <th></th>
    </thead>
    {% for i in ItemType %}
        <tr>
        <td>
        {{ i.name }}</td>
        <td>
        {{ i.suggested_price }}</td>
        <td><a href="/finance/Items/Cash/{{ i.id }}">Edit</a></td>
        </tr>
        
    {% endfor %}
    </tbody>
    </table>

</form>
{% endblock %}